@import '~bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400&display=swap');

body{
  font-family: 'Mulish', sans-serif;
}
.k_container{
  width: 60%;
  margin: 0 auto;
}
ul{
  list-style: none;
}

ul a{
  text-decoration: none;
}