@import '~bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
  font-family: 'Montserrat', sans-serif;
  color:white;
}
.k_container{
  width: 65%;
  margin: 0 auto;
}
ul{
  list-style: none;
}

ul a{
  text-decoration: none;
}

::-webkit-scrollbar {
  width: .7em;
  height: .7em;
  margin-right: 10px;
}
::-webkit-scrollbar-thumb {
  min-height: 20px;
  min-width: 20px;
  border: none;
  background-color: rgb(71, 68, 68);
}

@media (min-width: 992px) {
  .k_container {
    width: 80%;
  }
}