// COLOR-CUBE
$primaryShark-color: #252a2d;
$chestNut-lighterred: #d5625f;
$white: #fefefe;
$doveGray-dark: #6b6b6b;
$edward-light: #aeafae;
$yellow: #d8bc29;


// MEDIAN CUT
$secondaryShark-color: #212425;
$oldRose-red: #c88a80;
$pineCone-brown: #70625b;
$oslo-gray: #899696;
$regent-gray: #7e8995;



// MATERIAL DESIGN
$chestNut-darkred: #d3615e;
$thatch-brown: #b4a394;
$irishCoffee: #632927;
$woodSmoke-black: #070809;
$antiqueBrass: #c2856c;


